# Ficheiros e diretórios gerados pelo Build
/target/
/build/

# Ficheiros de Log
*.log
logs/

# Ficheiros de IDE
.idea/
*.iml
*.iws
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ficheiros do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de dependências do Maven
/lib/
/m2-repo/

# Ficheiros gerados pelo Eclipse
.classpath
.project
.settings/

# Ficheiros de configuração do NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/

# Ficheiros de passwords ou segredos locais (se houver)
local.properties
application-local.properties